[package]
name = "video-hw"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[workspace]

[dependencies]
anyhow = "1.0.101"
clap = { version = "4.5.59", features = ["derive"] }
core-foundation = "0.10.1"
core-media = "0.7.1"
core-video = "0.5.2"
libc = "0.2.182"
rtc = "0.9.0"
thiserror = "2.0.18"
video-toolbox = "0.2.1"
